/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/upload
*.tar.gz
error_log
*.mp4
*.sql
public/service_file.json
app/service_file.json
service_file.json
database/seeds/AppSettingrSeeder.php
